.detail-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  //   margin: 12px;
  padding: 12px;
}

.lable {
  display: block;
  width: 160px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
}

.input-detail {
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid #ccc;
  outline: none;
  padding: 8px;
  border-radius: 10px;
  flex: 1;
  width: 10px;
  transition: all 0.2s ease;
  &:focus {
    border: 1px solid #1e74fd;
  }
}
