.wrapper {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  width: fit-content;
  padding: 0 16px 12px;
  border-radius: 10px;
  background-color: #fff;
  width: 500px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 12px;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 1.5rem;
}

.input-bar {
  width: 100%;
}

.search-input {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  flex: 1 1;
  transition: all 0.2s ease;
  margin-bottom: 12px;
  font-family: "Poppins";
  &::placeholder {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Poppins";
  }
}

.body {
  height: 440px;
  overflow: auto;
}

.submit-btn {
  width: 100%;
  margin-top: 8px;
  background-color: #1e74fd;
  border: 1px solid #ccc;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #05f;
  }
}

.company-item {
  height: fit-content;
  margin-bottom: 16px;
  cursor: pointer;
  user-select: none;
}
